div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-container {
  gap: 28px;
  padding: 25px;
}

.card {
  background: #fff9f9;
  border: 1.5px solid #837f7f;
  width: 300px;
  padding: 20px;
  border-radius: 15px;                
  box-shadow: 0 1px 16px rgba(14, 14, 14, 0.905);
  display: flex;
  flex-direction: column;
  
}

.card img {
  width: 300px;
  height: 50vh;
  border-radius: 8px;
  /* object-fit: fill; */
}

.name-btn{
    color: rgb(237, 85, 25);
    border-radius: 10px 10px 10px 10px;
    font-size: 16px;
}


@media (max-width: 760px) {
  
  .card {
  width: 90%;
  margin-bottom: 15px;
}

}